### Set-up

In [3]:
import pandas as pd
import numpy as np

In [4]:
adult_income = pd.read_csv("adult-income.csv")
adult_income = adult_income.rename(columns={"39": "Age", " State-gov": "Workclass", " 77516": "Final_weight", 
                             " Bachelors": "Education", " 13": "Education_num", " Never-married": "Marital_status", 
                             " Adm-clerical": "Occupation", " Not-in-family": "Relationship", " White": "Race", 
                             " Male": "Gender", " 2174": "Capital_gain", " 0": "Capital_loss", 
                             " 40": "hours-per-week", " United-States": "Native_country", 
                             " <=50K": "Income_bracket"})
adult_income.head()

,Age,Workclass,Final_weight,Education,Education_num,Marital_status,Occupation,Relationship,Race,Gender,Capital_gain,Capital_loss,hours-per-week,Native_country,Income_bracket
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

### Modifying specific values in a DataFrame

In [5]:
print(adult_income.loc[2, :])

Age                                53
Workclass                     Private
Final_weight                   234721
Education                        11th
Education_num                       7
Marital_status     Married-civ-spouse
Occupation          Handlers-cleaners
Relationship                  Husband
Race                            Black
Gender                           Male
Capital_gain                        0
Capital_loss                        0
hours-per-week                     40
Native_country          United-States
Income_bracket                  <=50K
Name: 2, dtype: object

In [6]:
adult_income.loc[2, 'Education'] = 'College'
 
# print row index 2 to verify modification
print(adult_income.loc[2, :])

Age                                53
Workclass                     Private
Final_weight                   234721
Education                     College
Education_num                       7
Marital_status     Married-civ-spouse
Occupation          Handlers-cleaners
Relationship                  Husband
Race                            Black
Gender                           Male
Capital_gain                        0
Capital_loss                        0
hours-per-week                     40
Native_country          United-States
Income_bracket                  <=50K
Name: 2, dtype: object

### Modifying values based on criteria (Boolean indexing)

In [7]:
adult_income.loc[adult_income["Education_num"] >= 16, :]

,Age,Workclass,Final_weight,Education,Education_num,Marital_status,Occupation,Relationship,Race,Gender,Capital_gain,Capital_loss,hours-per-week,Native_country,Income_bracket
19,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
62,42,Private,116632,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
88,43,Federal-gov,410867,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,>50K
95,48,Self-emp-not-inc,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
188,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
412,46,Private,188386,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K
540,29,Private,133937,Doctorate,16,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
573,27,Private,158156,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,70,United-States,<=50K
638,52,Self-emp-not-inc,289436,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
644,50,Self-emp-inc,195322,Doctorate,16,Separated,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,>50K
651,35,Private,292472,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Taiwan,>50K
703,46,Private,295566,Doctorate,16,Divorced,Prof-specialty,Unmarried,White,Female,25236,0,65,United-States,>50K
762,53,Self-emp-inc,128272,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,70,United-States,>50K
853,48,State-gov,327886,Doctorate,16,Divorced,Prof-specialty,Own-child,White,Male,0,0,50,United-States,>50K
1000,50,Private,168212,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,65,United-States,>50K
1072,48,State-gov,55863,Doctorate,16,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,46,United-States,>50K
1091,31,Private,196025,Doctorate,16,Married-spouse-absent,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,60,China,<=50K
1212,54,Private,99185,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,45,United-States,>50K
1315,35,Private,119098,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,7298,0,40,United-States,>50K
1553,62,Private,134768,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,?,>50K
1688,44,Private,145160,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
2020,36,Private,103110,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,England,<=50K
2117,61,?,188172,Doctorate,16,Widowed,?,Not-in-family,White,Female,0,0,5,United-States,<=50K
2251,44,Private,175935,Doctorate,16,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,55,United-States,>50K
2283,29,Private,40083,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,Canada,<=50K
2373,55,Private,67450,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,England,<=50K
2483,40,Private,185145,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
2548,43,Private,57600,Doctorate,16,Married-spouse-absent,Prof-specialty,Not-in-family,White,Female,0,0,40,?,<=50K
2557,58,State-gov,110517,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,4064,0,40,India,<=50K
2774,49,State-gov,133917,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,1902,60,?,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30151,48,Private,119471,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
30337,33,State-gov,119628,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,Hong,<=50K
30484,46,Private,295334,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
30538,45,Private,172274,Doctorate,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,>50K
30555,36,Private,186865,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
30671,44,Local-gov,177937,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,36,United-States,>50K
30917,61,State-gov,379885,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,40,United-States,>50K
30974,40,Private,320451,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1977,45,Hong,>50K
31033,34,State-gov,44464,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,60,United-States,<=50K
31184,45,Private,243631,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,China,>50K
31328,28,Local-gov,138332,Doctorate,16,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
31510,31,Private,298871,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,China,<=50K
31560,57,Self-emp-not-inc,413373,Doctorate,16,Married-civ-spouse,Sales,Husband,White,Male,0,1902,40,United-States,>50K
31568,46,Self-emp-not-inc,165754,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,United-States,<=50K
31613,49,Private,237920,Doctorate,16,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,<=50K
31731,60,State-gov,165827,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
31774,61,?,101602,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,>50K
31814,55,Private,104724,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
31965,53,State-gov,229465,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
32060,59,Private,384246,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
32202,51,Federal-gov,223206,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,15024,0,40,Vietnam,>50K
32221,50,Private,177896,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
32255,41,Private,182108,Doctorate,16,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,>50K
32286,54,Local-gov,34832,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
32325,48,Private,123075,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
32428,51,Local-gov,203334,Doctorate,16,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,45,United-States,>50K
32468,58,Self-emp-inc,181974,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,99,?,<=50K
32469,50,Private,485710,Doctorate,16,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
32531,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K

In [8]:
adult_income.loc[adult_income["Education_num"] >= 16, 'Education'] = 'Ph.D.'
 
# Print the rows to verify the modification
adult_income.loc[adult_income["Education_num"] >= 16, :]

,Age,Workclass,Final_weight,Education,Education_num,Marital_status,Occupation,Relationship,Race,Gender,Capital_gain,Capital_loss,hours-per-week,Native_country,Income_bracket
19,40,Private,193524,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
62,42,Private,116632,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
88,43,Federal-gov,410867,Ph.D.,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,>50K
95,48,Self-emp-not-inc,191277,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
188,58,State-gov,109567,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
412,46,Private,188386,Ph.D.,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K
540,29,Private,133937,Ph.D.,16,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
573,27,Private,158156,Ph.D.,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,70,United-States,<=50K
638,52,Self-emp-not-inc,289436,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
644,50,Self-emp-inc,195322,Ph.D.,16,Separated,Prof-specialty,Not-in-family,White,Male,0,0,40,United-States,>50K
651,35,Private,292472,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,Taiwan,>50K
703,46,Private,295566,Ph.D.,16,Divorced,Prof-specialty,Unmarried,White,Female,25236,0,65,United-States,>50K
762,53,Self-emp-inc,128272,Ph.D.,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,70,United-States,>50K
853,48,State-gov,327886,Ph.D.,16,Divorced,Prof-specialty,Own-child,White,Male,0,0,50,United-States,>50K
1000,50,Private,168212,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,65,United-States,>50K
1072,48,State-gov,55863,Ph.D.,16,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,46,United-States,>50K
1091,31,Private,196025,Ph.D.,16,Married-spouse-absent,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,60,China,<=50K
1212,54,Private,99185,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,45,United-States,>50K
1315,35,Private,119098,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,7298,0,40,United-States,>50K
1553,62,Private,134768,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,?,>50K
1688,44,Private,145160,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
2020,36,Private,103110,Ph.D.,16,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,England,<=50K
2117,61,?,188172,Ph.D.,16,Widowed,?,Not-in-family,White,Female,0,0,5,United-States,<=50K
2251,44,Private,175935,Ph.D.,16,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,55,United-States,>50K
2283,29,Private,40083,Ph.D.,16,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,Canada,<=50K
2373,55,Private,67450,Ph.D.,16,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,England,<=50K
2483,40,Private,185145,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
2548,43,Private,57600,Ph.D.,16,Married-spouse-absent,Prof-specialty,Not-in-family,White,Female,0,0,40,?,<=50K
2557,58,State-gov,110517,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,4064,0,40,India,<=50K
2774,49,State-gov,133917,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,1902,60,?,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30151,48,Private,119471,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
30337,33,State-gov,119628,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,Hong,<=50K
30484,46,Private,295334,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
30538,45,Private,172274,Ph.D.,16,Divorced,Prof-specialty,Unmarried,Black,Female,0,3004,35,United-States,>50K
30555,36,Private,186865,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
30671,44,Local-gov,177937,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,36,United-States,>50K
30917,61,State-gov,379885,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,40,United-States,>50K
30974,40,Private,320451,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1977,45,Hong,>50K
31033,34,State-gov,44464,Ph.D.,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,60,United-States,<=50K
31184,45,Private,243631,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,China,>50K
31328,28,Local-gov,138332,Ph.D.,16,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,40,United-States,<=50K
31510,31,Private,298871,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,China,<=50K
31560,57,Self-emp-not-inc,413373,Ph.D.,16,Married-civ-spouse,Sales,Husband,White,Male,0,1902,40,United-States,>50K
31568,46,Self-emp-not-inc,165754,Ph.D.,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,United-States,<=50K
31613,49,Private,237920,Ph.D.,16,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States,<=50K
31731,60,State-gov,165827,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States,<=50K
31774,61,?,101602,Ph.D.,16,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,>50K
31814,55,Private,104724,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
31965,53,State-gov,229465,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K
32060,59,Private,384246,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
32202,51,Federal-gov,223206,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,15024,0,40,Vietnam,>50K
32221,50,Private,177896,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
32255,41,Private,182108,Ph.D.,16,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,>50K
32286,54,Local-gov,34832,Ph.D.,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K
32325,48,Private,123075,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K
32428,51,Local-gov,203334,Ph.D.,16,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,45,United-States,>50K
32468,58,Self-emp-inc,181974,Ph.D.,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,99,?,<=50K
32469,50,Private,485710,Ph.D.,16,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,<=50K
32531,34,Private,204461,Ph.D.,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32538,71,?,287372,Ph.D.,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K

In [9]:
adult_income.loc[adult_income["Education"] == ' HS-grad', 'Education_num'] = 10
print('new mean')
print(adult_income.mean())
print('')
adult_income.head()

new mean
Age                   38.581634
Final_weight      189781.814373
Education_num         10.403102
Capital_gain        1077.615172
Capital_loss          87.306511
hours-per-week        40.437469
dtype: float64

,Age,Workclass,Final_weight,Education,Education_num,Marital_status,Occupation,Relationship,Race,Gender,Capital_gain,Capital_loss,hours-per-week,Native_country,Income_bracket
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,10,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,College,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

### Modifying columns

In [10]:
adult_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
Age               32560 non-null int64
Workclass         32560 non-null object
Final_weight      32560 non-null int64
Education         32560 non-null object
Education_num     32560 non-null int64
Marital_status    32560 non-null object
Occupation        32560 non-null object
Relationship      32560 non-null object
Race              32560 non-null object
Gender            32560 non-null object
Capital_gain      32560 non-null int64
Capital_loss      32560 non-null int64
hours-per-week    32560 non-null int64
Native_country    32560 non-null object
Income_bracket    32560 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [11]:
adult_income["Income_bracket"] = adult_income["Income_bracket"].astype('category')
 
# check the datatypes
print("Check the dtypes after converting")
adult_income.info()

Check the dtypes after converting
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
Age               32560 non-null int64
Workclass         32560 non-null object
Final_weight      32560 non-null int64
Education         32560 non-null object
Education_num     32560 non-null int64
Marital_status    32560 non-null object
Occupation        32560 non-null object
Relationship      32560 non-null object
Race              32560 non-null object
Gender            32560 non-null object
Capital_gain      32560 non-null int64
Capital_loss      32560 non-null int64
hours-per-week    32560 non-null int64
Native_country    32560 non-null object
Income_bracket    32560 non-null category
dtypes: category(1), int64(6), object(8)
memory usage: 3.5+ MB

In [12]:
adult_income["Workclass"] = adult_income["Workclass"].astype('category')
adult_income["Education"] = adult_income["Education"].astype('category')
adult_income["Marital_status"] = adult_income["Marital_status"].astype('category')
adult_income["Occupation"] = adult_income["Occupation"].astype('category')
adult_income["Relationship"] = adult_income["Relationship"].astype('category')
adult_income["Race"] = adult_income["Race"].astype('category')
adult_income["Gender"] = adult_income["Gender"].astype('category')
adult_income["Native_country"] = adult_income["Native_country"].astype('category')

# check the datatypes
print("Check the dtypes after converting")
print("")
adult_income.info()

Check the dtypes after converting

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
Age               32560 non-null int64
Workclass         32560 non-null category
Final_weight      32560 non-null int64
Education         32560 non-null category
Education_num     32560 non-null int64
Marital_status    32560 non-null category
Occupation        32560 non-null category
Relationship      32560 non-null category
Race              32560 non-null category
Gender            32560 non-null category
Capital_gain      32560 non-null int64
Capital_loss      32560 non-null int64
hours-per-week    32560 non-null int64
Native_country    32560 non-null category
Income_bracket    32560 non-null category
dtypes: category(9), int64(6)
memory usage: 1.8 MB

In [14]:
adult_income["hours_per_day"] = adult_income["hours-per-week"] / 5
adult_income.head()

,Age,Workclass,Final_weight,Education,Education_num,Marital_status,Occupation,Relationship,Race,Gender,Capital_gain,Capital_loss,hours-per-week,Native_country,Income_bracket,hours_per_day
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,2.6
1,38,Private,215646,HS-grad,10,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,8.0
2,53,Private,234721,College,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,8.0
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,8.0
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,8.0

In [15]:
data = np.exp(adult_income["Education_num"])
data.head()

0    4.424134e+05
1    2.202647e+04
2    1.096633e+03
3    4.424134e+05
4    1.202604e+06
Name: Education_num, dtype: float64

In [17]:
adult_income["product"] = adult_income["hours-per-week"] * adult_income["Education_num"]
adult_income.head()

,Age,Workclass,Final_weight,Education,Education_num,Marital_status,Occupation,Relationship,Race,Gender,Capital_gain,Capital_loss,hours-per-week,Native_country,Income_bracket,hours_per_day,product
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,2.6,169
1,38,Private,215646,HS-grad,10,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,8.0,400
2,53,Private,234721,College,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,8.0,280
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,8.0,520
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,8.0,560

In [21]:
adult_income["edu_with_income"] = (adult_income["Education"] + "-" + adult_income["Income_bracket"])
adult_income.head()

TypeError: Series cannot perform the operation +